
.icon-mail:before { content: '\e800'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */